.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .userInfo {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
  }
}

.routes {
  align-self: center;
  font-size: 1.5rem;
  color: black;
  background: white;
  border-radius: 1rem;
  outline: solid;
}

/*style={{display: 'flex', justifyContent: 'flex-end'}}*/
