.App {
  text-align: center;
  background: pink;
}

#LandingPage {
  background: green;
}

#Register{
  background: blue;
}

#Navigation {
  display: flex;
  justify-content: flex-end;
  text-align: right;
  background: yellow;
}

#MainPage {
  display: flex;
  background: turquoise;
}

#Sidebar {
  display: flex;
  background: orange;
}

#Transaction {
  flex-grow: 1;
  border-style: solid;
  background: beige;
}
