.App {
  text-align: center;
  background: pink;
  margin: 0 1rem;
}

#LandingPage {
  background: green;
}

#Register{
  background: blue;
}

.Navigation {
  display: flex;
  justify-content:flex-end;
  background: yellow;
}

#MainPage {
  display: flex;
  background: turquoise;
}

#Sidebar {
  display: flex;
  background: orange;
}

#Transaction {
  flex-grow: 1;
  border-style: solid;
  background: beige;
}

#insertTransaction {
  display: flex;
  background-color: gray;
}

nav {
  display: flex;
  justify-content: space-between;
  text-align: right;
  background-color: ruby;
}

.links {
  align-self: center;
  padding: .5rem;
  font-size: 1.5rem;
  color: black;
  background: white;
  border-radius: 1rem;
  outline: solid;
}

.links:hover {
  cursor: pointer;
}

.button {

}